{% extends "layout.html.twig" %}

{% block title %}Liste des produits
{% endblock %}

{% block content %}
	{{ parent() }}
	<h1>Liste des produits</h1>
	{% for product in products %}
		<h2>{{product}}</h2>
	{% endfor %}
	<pre>
    {{ dump(products) }}
  </pre>
{% endblock %}
