<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>
			{% block title %}Passion Musique
			{% endblock %}
		</title>

		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="icon" href="/assets/images/favicon.png">
	</head>

	<body>
		<nav>
			{% include '_navbar.html.twig' %}
		</nav>
		{% block content %}
			<h1>Bienvenue chez Passion Musique</h1>
		{% endblock %}
		<footer>{% include '_footer.html.twig' %}</footer>

	</body>
</html>
